.firstborder {
    background-color: #abfe78;
    position: relative;
    width: auto;
    height: 40vw;
    font-family: 'Lexend Deca', sans-serif; 
    border-bottom: 0.1em black solid;
}

.title1 {
	color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
    width: 400px;
    font-size: 5vh;
    position: absolute;
    top: 10%; 
    left: 10vw;
}

.subtitle1 {
	color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
    width: 300px;
    font-size: 3.5vh;
    position: absolute;
    top: 34%; 
    left: 10vw;
}

.subtitle2 {
	color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
    width: 300px;
    font-size: 2.8vh;
    position: absolute;
    top: 40%; 
    left: 10vw;
}

.img1 {
    height: 40vw;
    margin-left: 39.497vw;
    border-bottom: 0.1em black solid;
}