.secondborder {
    background-color: #fff;
    position: relative;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    border-bottom: 0.1em black solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 40vw;
}

.text2border, .sub2border {
    padding: 20px;
    min-width: 0;
    min-height: 0;
}

.text2border p, .sub2border p {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.text2border {
    background-color: #abfe78;
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    grid-column: 2;
    overflow: hidden;
}
.sub2border {
    text-align: justify;
    grid-column: 1;
    overflow: hidden;
    padding: 20px;
    min-width: 0;
    min-height: 0;
    position: relative;
}

.subtitles1 {
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    width: 35em;
    font-size: 1vw;
    text-align: center;
    left: 10%;
    top: 10%;
}

p {
    margin-bottom: 30px;
}


.title2 {
	color: black;
	-webkit-text-stroke: 1px black;
	text-shadow: 0px 1px 4px #23430C;
    font-size: 5vh;
    position: absolute;
    top: 45%;
    right: 35%;
    z-index: 1;
}