
.img2 {
    max-width: 100%;
    height: auto;
    width: 100%;
    background-position: center;
}

.firstextt1 {
    font-size: 0.8vw;
    color: black;
}

.codetextt1 {
    font-size: 0.8vw;
    color: black;
    margin-left: 25%;
}

.lexend {
    font-family: 'Lexend Deca', sans-serif; 
}

.codeborder2 {
    background-color: lightcyan;
    position: relative;
    width: auto;
    height: 8vw;
    font-family: 'Lexend Deca', sans-serif; 
    bottom: 1vw;
    text-align: center;
    padding: 50px;
}
.codeborder3 {
    background-color: white;
    position: relative;
    width: auto;
    height: 170vw;
    font-family: 'Lexend Deca', sans-serif; 
    bottom: 1vw;
    padding: 10px;
    display: inline-block;

}

.codeborder1 {
        background-color: white;
        position: relative;
        width: auto;
        height: 9vw;
        font-family: 'Lexend Deca', sans-serif; 
        bottom: 1vw;
        text-align: center;
        padding: 50px;
}
.firstext1 {
    font-size: 0.8vw;
    color: black;
}
.firstext {
    font-size: 2.8vw;
}

.codeborder2 {
    background-color: white;
    position: relative;
    width: auto;
    height: 9vw;
    font-family: 'Lexend Deca', sans-serif; 
    bottom: 1vw;
    text-align: center;
    padding: 50px;
}

body  {
    background-color: lightblue;
}