.img3 {
    width: 55vw;
    max-width: auto;
    height: auto;
    transition: width 0.3 ease-in-out;
}

.prgborder1 {
    background-color: white;
    position: relative;
    width: auto;
    height: 9vw;
    font-family: 'Lexend Deca', sans-serif; 
    text-align: center;
    padding: 50px;
}

.imgborder1 {
    background-color: white;
    position: relative;
    width: auto;
    height: 30vw;
    font-family: 'Lexend Deca', sans-serif; 
    text-align: center;
    padding: 50px;
    overflow: hidden;
}

.protoandardui {
    height: auto;
    width: 20vw;
}

.firstext1 {
    font-size: 0.8vw;
    color: black;
}

.note {
    font-size: 0.6vw;
    color: black;
}

.firstext {
    font-size: 2.8vw;
}
.pft1 {
    font-size: 1.8vw;
}


.lexend {
    font-family: 'Lexend Deca', sans-serif; 
}

body  {
    background-color: lightblue;
}

.progborder2 {
    background-color: lightcyan;
    position: relative;
    height: 8vw;
    font-family: 'Lexend Deca', sans-serif; 
    text-align: center;
    padding: 50px;
}
.progborder3 {
    background-color: white;
    position: relative;
    width: auto;
    height: 8vw;
    font-family: 'Lexend Deca', sans-serif; 
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.progborder3-ex {
    background-color: white;
    position: relative;
    width: auto;
    height: 8vw;
    font-family: 'Lexend Deca', sans-serif; 
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.progborder1 {
    background-color: white;
    position: relative;
    width: auto;
    height: 8vw;
    font-family: 'Lexend Deca', sans-serif; 
    text-align: center;
    padding: 10px;
    align-items: center;
}

.description1 {
    width: 53.5vw;
}

.bold {
    font-weight: 600;
}

@media (max-width: 1768px) {
    .img3 {
        width: 60vw; /* Adjust as needed */
    }
}

@media (max-width: 1668px) {
    .img3 {
        width: 69vw; /* Adjust as needed */
    }
}

@media (max-width: 1468px) {
    .img3 {
        width: 82vw; /* Adjust as needed */
    }
}

@media (max-width: 1268px) {
    .img3 {
        width: 95.5vw; /* Adjust as needed */
    }
}

@media (max-width: 1068px) {
    .img3 {
        width: 99.25vw; /* Adjust as needed */
    }
}



